<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
	<listener class-name="ca.amazon.base.TestListeners"/>
</listeners>
  <test thread-count="5" name="VerifyLoginDisplay">
  <parameter name="browser" value="chrome"/>
    <classes>
      <class name="ca.amazon.tests.TC01VerifyLoginPageDisplay"/>
    </classes>
  </test> 
</suite> 